<h1>Add New Address</h1>

<%= form_with scope: :address, url: addresses_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :street_address %><br>
    <%= form.text_field :street_address %>
  </p>

  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :state %><br>
    <%= form.text_field :state %>
  </p>

  <p>
    <%= form.label :zip %><br>
    <%= form.text_field :zip %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
